#nav, #footer {
	background-color: #212121;
	color: #eceff1;
}
#nav{
	text-align: right;
	
}
body {
	width: 960px;
	margin: 0 auto;
}

.col {	
	float: left;
	width: 300px; background-color : #F0F8FF;
	margin: 10px;
	background-color: #F0F8FF;
}

* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
}

#content{
	overflow: auto;
	height : 100%;
}

#button{
	width: 252px;
	height: 75px;
	margin-left: auto;
 	margin-right: auto;
	background-color: gray;
	background: gray url('submit.png') 0px 0px no-repeat;
}
#button:hover{
	background-position: 0 -73px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

table{
	border-collapse:collapse;
}
.en-tete{
background-color:RGB(168,197,36);
}

th{
	color: #FFF;
	font-weight: normal;
}
td,th{
	border: 1px solid black;
	padding: 10px 15px;
}

.my_content_container a {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
    text-decoration: none;  
}

.btn btn-info{
	width:100px;
	}
}